body {
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  flex: 1;
  padding: 2rem 0;
}

.landing-image {
  max-width: 76vw;
  height: auto;
  margin-bottom: 2rem;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}


.landing-button {
  font-family: 'Inter', sans-serif;
  font-weight: 600;

  padding: 0.5rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
  border: 1px solid black;
  color: black;
  background-color: white;
}

/* Responsive : PC view */
@media screen and (min-width: 600px) {
  .button-group {
    flex-direction: row;
    justify-content: center;
  }

  .landing-button {
    width: auto;
    min-width: 150px;
  }
}