<div class=global-container>
    <div class="posts-header">
        <div class="posts-header-items">
            <button class="standard-button" routerLink="/posts/create" mat-flat-button type="button">
                Créer un article
            </button>
        </div>
        <div class="posts-header-items">
            <span>Trier par </span>
            <button mat-icon-button (click)="flipSort()">
                @if (isSortUp){
                <mat-icon>arrow_upward</mat-icon>
                }
                @else {
                <mat-icon>arrow_downward</mat-icon>
                }
            </button>
        </div>
    </div>

    <div class="card-container card-container--fit">
        @for (post of filteredPosts$ | async; track post) {
        <div class="card-element">
            <app-post [post]="post"></app-post>

        </div>
        }
    </div>