<div class="global-container">

  <!-- handle mobile layout -->
  @if (isMobile){
  <div class="header">
    <button mat-icon-button class="icon-button" routerLink="/greeting">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <img src="../../../assets/logo_p6.png" alt="Logo MDD" class="logo" />
  }
  <!-- handle pc layout -->
  @else{
  <div class="header">
    <img src="../../../assets/logo_p6 9.svg" routerLink="/home" class="logo">
  </div>
  <button mat-icon-button class="icon-button" routerLink="/greeting">
    <mat-icon>arrow_back</mat-icon>
  </button>
  }
  <!-- shared layout-->
  <h1>Inscription</h1>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
    <label for="username">Nom d’utilisateur</label>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput formControlName="username" />
    </mat-form-field>
    <label for="email">Adresse e-mail</label>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput formControlName="email" />
    </mat-form-field>
    <label for="password">Mot de passe</label>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <div>
      @if(registerForm.get('password')?.hasError('minLength')){
      <mat-error> {{ registerForm.get('password')?.getError('minLength') }}
      </mat-error>
      }
      @if(registerForm.get('password')?.hasError('lowercase')){
      <mat-error>{{ registerForm.get('password')?.getError('lowercase') }}
      </mat-error>
      }
      @if(registerForm.get('password')?.hasError('uppercase')){
      <mat-error> {{ registerForm.get('password')?.getError('uppercase') }}
      </mat-error>
      }
      @if(registerForm.get('password')?.hasError('number')){
      <mat-error> {{ registerForm.get('password')?.getError('digit') }}
      </mat-error>
      }
      @if(registerForm.get('password')?.hasError('special')){
      <mat-error> {{ registerForm.get('password')?.getError('specialChar') }}
      </mat-error>
      }
    </div>
    <button mat-flat-button class="submit-button" [disabled]="registerForm.invalid" type="submit">
      S'inscrire
    </button>
  </form>

</div>
