<div class="register-container">

    @if (isMobile){
    <div class="arrow-container">
        <button mat-icon-button class="icon-button" routerLink="/landing">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div class="register-header">
        <img src="../../../assets/logo_p6.png" alt="Logo MDD" class="logo" />
    </div>
    }

    @else{
    <div class="pc-register-header">
        <img src="../../../assets/logo_p6 9.svg" routerLink="/home" class="pc-logo">
    </div>
    <div class="arrow-container">
        <button mat-icon-button class="icon-button" routerLink="/landing">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    }

    <h1 class="register-title">Inscription</h1>
    <div class="register-content">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
            <label for="username">Nom d’utilisateur</label>
            <mat-form-field appearance="outline" class="full-width">
                <input matInput formControlName="username" />
            </mat-form-field>
            <label for="email">Adresse e-mail</label>
            <mat-form-field appearance="outline" class="full-width">
                <input matInput formControlName="email" />
            </mat-form-field>
            <label for="password">Mot de passe</label>
            <mat-form-field appearance="outline" class="full-width">
                <input matInput type="password" formControlName="password" />
            </mat-form-field>
            <button mat-flat-button class="register-button" type="submit">
                S'inscrire
            </button>
        </form>
    </div>


</div>