<div class="global-container">

  <div class="header">
    <h1>Profil utilisateur</h1>
  </div>

  <!-- Update Profile -->
  @if (userForm){
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-item">
      <mat-form-field appearance="outline">
        <input matInput formControlName="username">
      </mat-form-field>
    </div>
    <div class="form-item">
      <mat-form-field appearance="outline">
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
    <div class="form-item">
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput [type]="'password'" formControlName="password">
      </mat-form-field>
    </div>
    <div class="form-item">
      <button type="submit" class="standard-button">
        Sauvegarder
      </button>
    </div>
  </form>
  }

  <mat-divider></mat-divider>

  <!-- Subscriptions  -->
  <div class="header">
    <h1>Abonnements</h1>
  </div>
  <div class="card-container card-container--fit">
    @for (topic of topics$ | async; track topic) {
    <div class="card-element">
      <app-topic [topic]="topic" (unsubscribe)="unsubscribe($event)">
      </app-topic>
    </div>
    }
  </div>
</div>