@if (isMobile) {
<!-- Nav for mobile -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer position="end" mode="over" [ngClass]="!isCollapsed ? 'expanded' : ''" [opened]="!isCollapsed">
        <mat-nav-list>
            @if (!isCollapsed) {
            <a mat-list-item (click)="logout()">
                <span class="logout-item">Se déconnecter</span>
            </a>
            <a mat-list-item [routerLink]="'/posts'">
                <span class="nav-item">Articles</span>
            </a>
            <a mat-list-item [routerLink]="'/topics'">
                <span class="nav-item">Thèmes</span>
            </a>
            <div class="spacer"></div>
            <a mat-list-item [routerLink]="'/me'">
                <span class="nav-item" [routerLink]="'/me'"><img src="../../../assets/user.png" routerLink="/me"
                        class="user-icon"></span>
            </a>
            }
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <mat-toolbar-row class="toolbar">
                <img src="../../../assets/logo_p6 9.svg" routerLink="/posts" class="logo">
                <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <!-- Main content under navbar -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
}

@else {
<!-- Nav for PC -->
<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <span><img src="../../../assets/logo_p6.png" routerLink="/home" class="logo"></span>
        <span class="spacer"></span>
        <span class="logout-item" (click)="logout()">Se déconnecter</span>
        <span class="nav-item" [routerLink]="'/posts'" routerLinkActive="active-link">Articles</span>
        <span class="nav-item" [routerLink]="'/topics'" routerLinkActive="active-link">Thèmes</span>
        <span class="nav-item" [routerLink]="'/me'" routerLinkActive="active-link" #rla="routerLinkActive"><img
                [src]="rla.isActive ? 'assets/user-active.png' : 'assets/user.png'"
                [ngClass]="{'user-icon-active': rla.isActive}" class="user-icon" /></span>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Main content under navbar -->
<div class="main-content">
    <router-outlet></router-outlet>
</div>
}