/**
Global styles
*/

.active-link {
    color: #6C5CCF !important;
}

.global-content {
    // border: 1px solid black !important;

    height: 100%;
    width: 100%;
}


.main-content {
    background-color: transparent;

    // border: 1px solid black !important;
    height: 100%;
}

.spacer {
    flex: 1; //used to push following span to the right
}

mat-toolbar-row {
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.3vw;
    background-color: white !important;

}



mat-toolbar {
    background-color: transparent !important;
    border: 1px solid black !important;
    width: 100% !important;
}

// .toolbar {
//     width: 100% !important;
//     box-sizing: border-box !important;


// }

mat-toolbar-row {
    border: 1px solid black !important;
    width: 100vw !important;
}

.logout-item {
    font-family: 'Inter', sans-serif;
    color: #A40F0F;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 2;
}

.nav-item {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2;
    letter-spacing: 0%;
    color: black;

}

.logo {
    width: 140px;
    height: 81px;
    padding-top: 1%;
}

.user-icon {
    height: 48px;
    box-sizing: border-box;
}


/**
Only Mobile styles
*/

button[mat-icon-button] {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
}

// mat-sidenav-container {
//     // height: 96vh !important;
//     // width: 100%;
//     // // border: solid 1px black;
//     // background-color: transparent !important;
// }


mat-sidenav {
    width: 45vw;
    max-width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-right: 3%;
    border-radius: 0% !important;
    border: 1px solid black !important;

}

mat-nav-list {
    display: flex;
    flex-direction: column;
    height: 97% !important;
    align-items: flex-end;

}

.sidenav-container {
    width: 95vw;
    height: 95vh;
    width: 100%;
    height: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    background-color: white !important;
    // border: 1px solid black !important;


}

/**
ovverides styles for Mobiles
*/
@media screen and (max-width: 800px) {
    .user-icon {
        height: 6vh;
    }

    .logo {
        height: 7vh;
    }

    mat-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent !important;

    }



    .logout-item {
        color: #A40F0F;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 2;
    }

    .nav-item {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 2;
        letter-spacing: 0%;
        color: black;
    }
}