<div class="global-container">
    @if (post$ | async; as post){
    <div class="posts-details-header">
        <div class="posts-details-item">
            <button mat-icon-button routerLink="/posts">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div class="posts-details-item">
            <h1>{{post.title}}</h1>
        </div>
    </div>
    <div class="posts-details-content">
        <h2>
            <span class="title"> {{post.created_at | date: 'longDate'}} </span>
            <span class="title"> {{post.author.username}}</span>
            <span class="title" routerLink="/topics/{{post.topic.id}}"> {{post.topic.name}}</span>
        </h2>
        <div class="post-detail-text">
            <span>Content: </span>
            {{post.content}}
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="posts-details-content">
        <h2>Commentaires</h2>
        @if (post.comments?.length){
        @for (comment of post.comments; track comment) {
        <div class="comment">
            <span>{{ comment.author.username}}</span>
            <mat-card class="comment-content">
                <mat-card-content>
                    {{ comment.content }}
                </mat-card-content>
            </mat-card>
        </div>
        }
        }
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="addcomment-form">
            <mat-form-field appearance="outline">
                <textarea matInput formControlName="content" class="custom-textarea"
                    placeholder="Écrivez ici votre commentaire"></textarea>
            </mat-form-field>
            <button type="submit" [disabled]="commentForm.invalid">
                <img src="../../../../assets/icon _send.svg" alt="Envoyer" />
            </button>
        </form>
    </div>
    }
    @else {
    L'article n'a pas pu être récupéré.
    }

</div>