@if (isMobile) {
<div class=global-container>
    <div class="flex-header">
        <div class="flex-header-items">
            <button mat-flat-button class="btn" type="submit">
                Créer un article
            </button>
        </div>
        <div class="flex-header-items">
            <span>Trier par </span>
            <button mat-icon-button (click)="flipSort()">
                @if (isSortUp){
                <mat-icon>arrow_upward</mat-icon>
                }
                @else {
                <mat-icon>arrow_downward</mat-icon>
                }
            </button>
        </div>
    </div>
    <div class="posts-grid">
        @for (post of posts$ | async; track post) {
        <mat-card class="post-card" appearance="outlined" [routerLink]="['/posts', post.id]">
            <mat-card-header>
                <mat-card-title>
                    {{post.title}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{post.created_at | date: 'longDate'}} {{post.author_id}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                {{post.extract}}
            </mat-card-content>
        </mat-card>
        }
    </div>
</div>
}
@else {

<div class="pc-flex-header">
    <div class="pc-flex-header-items">
        <button mat-flat-button class="btn" type="submit">
            Créer un article
        </button>
    </div>
    <div class="pc-flex-header-items">
        <span>Trier par </span>
        <button mat-icon-button (click)="flipSort()">
            @if (isSortUp){
            <mat-icon>arrow_upward</mat-icon>
            }
            @else {
            <mat-icon>arrow_downward</mat-icon>
            }
        </button>

    </div>
</div>


<div class=" pc-posts-grid">
    @for (post of posts$ | async; track post) {
    <mat-card class="pc-post-card" appearance="outlined" [routerLink]="['/posts', post.id]">
        <mat-card-header>
            <mat-card-title>
                {{post.title}}
            </mat-card-title>
            <mat-card-subtitle>
                {{post.created_at | date: 'longDate'}} {{post.author_id}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{post.extract}}
        </mat-card-content>
    </mat-card>
    }
</div>
}